.new-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.new {
    padding: 10px;
    position: relative;
    .input {
        margin: 3px;
        .radio {
            padding: 3px;
            .radio_buttons {
                margin-right: 7px;
            }
        }
    }
    .string {
        position: relative;
        input {
            position: absolute;
            right: 0;
        }
    }
    .btn {
        margin: 10px;
        position: absolute;
        top: 100%;
        right: 35%;
    }
    .update-btn {
        margin-right: 40px;
    }
}



@media (min-width: 630px) {
    .new {
        padding: 100px;
        .btn {
            top: 80%;
        }
        .string {
            input {
                right: 30%;
            }
        }
    }
}