// CONTENT TABS

.tabs-content {
    img {
        border-radius: 2px;
        display: block;
        width: 100%; 
    }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem; 
  padding: 1rem;
  list-style: none;
  img {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }
}

.grid-container-list {
    transition: all .5s ease-in-out;
}

.grid-container-list:hover {
    transform: scale(0.9);
    img {
        animation: fadein 2s;
    }
}

// RESPONSIVE

@media (min-width: 800px) {
    .tabs-content {
        grid-column: 2/3;
    }
    
}



// FADEIN ANIMATION

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}