.back {
    padding: 50px;
    a {
        color: black;
        font-weight: bolder;
    }
    a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
}

.img-show {
    padding: 10px;
    text-align: center;
}

.img {
    width: 100%;
    padding-bottom: 50px;
}

.definition-show {
    h1 {
        font-size: 40px;
        font-weight: bolder;
        line-height: 0.9;
    }
    h3 {
        font-size: 11px;
        font-style: oblique;
    }
}

.pagging {
    display: flex;
    justify-content: space-between;
    a {
        color: black;
        font-weight: bolder;
    }
    a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
}

.pagging-left {
    padding: 50px;
}

.pagging-right {
    padding: 50px;
}


@media (min-width: 700px) {
    .img {
        width: 50%;
    }
}