.about-content {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 1fr;
    padding-top: 50px;

    h1 {
        font-size: 30px;
        font-weight: bolder;
    }
    h2 {
        padding-top: 10px;
        font-weight: bolder;
        font-size: 20px;
    }
}

.header {
    grid-column: 2/3;
    padding-bottom: 75px;
}

.about-text {
    grid-column: 2/3;
    text-align: justify;
}

.about-img {
    grid-column: 2/3;
    img {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .about-content {
        grid-template-columns: 100px auto 100px;
        padding-top: 150px;
        h1 {
            font-size: 45px;
        }
        h2 {
            padding-top: 40px;
        }
    }
}

@media (min-width: 1350px) {
    .about-content {
        grid-template-columns: 350px auto 350px;
    }
}