.contact-wrap {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    grid-template-rows: 1fr;
    padding-top: 50px;
}

.contact {
    grid-column: 2/3;
    text-align: center;
    p {
        padding-bottom: 25px;
    }
    h1 {
        font-weight: bold;
        padding-bottom: 30px;
    }
    a {
        font-weight: bold;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
}

@media (min-width: 700px) {
    .contact-wrap {
        grid-template-columns: 30% auto 30%;;
    }
}