#picture-home {
    padding: 40px 10px 0px 10px;
    height: 80vh;
    img {
        width: 100%;
    }
}

@media (min-width: 800px) {
    #picture-home {
        padding: 0px 150px 0px 150px;
    }
}