.log-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.login {
    grid-column: 2/3;
    padding: 50px;
    a {
      color: black;  
    }
    a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
}

label {
    margin-right: 10px;
}

.user_email {
    position: relative;
}
#user_email {
    position: absolute;
    right: 0;
}

#user_remember_me {
    margin-right: 10px;
}

.form-actions {
    padding-top: 10px;
    padding-bottom: 10px;
    input {
        border: 1px solid;
    }
    input:hover {
        color: rgba(0, 0, 0, 0.404);
    }
}

