// SETTINGS SECTION
.profile-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.settings {
    grid-row: 1/2;
    padding: 25px;
    li {
        list-style: none;
        padding: 10px;
    }
}

.btn-sign-out {
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(255, 0, 43, 0.329);
    color: rgba(255, 0, 43, 0.329);
    border-radius: 4px;
}

.btn-sign-out:hover {
    text-decoration: none;
    background-color: rgba(255, 0, 43, 0.329);
    color: white;
}

.btn-add-photo {
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 110, 255, 0.527);
    color: rgba(0, 110, 255, 0.527);
    border-radius: 4px;
}

.btn-add-photo:hover {
    text-decoration: none;
    background-color: rgba(0, 110, 255, 0.527);
    color: white;
}
// GALERY SECTION

.gallery {
    grid-row: 2/3;
    li {
        display: inline-block;
        padding: 10px;
    }
}
// ALERT SECTION

.alert-section {
    padding: 150px 15px 0px 15px;
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }
    a:hover {
        text-decoration: none;
    }
}


// RESPONSIVE


@media (min-width: 550px) {
    .settings {
        li {
            display: inline;
        }
    }
}