<footer>
    <div class="author">
        <p>Site réalisé avec <i class="fas fa-heart"></i> par <%= link_to 'François R.', 'http://www.francoisrabanel.fr', target: "_blank" %></p>
    </div>
</footer>