<div class="grid-navbar">
    <div class="navbar-left">
        <h1>
            <%= link_to  "JULIEN COMTE-GAZ", root_path %>
        </h1>
    </div>
    <% if user_signed_in? %>
    <div class="navbar-right">
            <ul>
                <li>Bonjour
                    <%= link_to profile_path do %> 
                        <%= current_user.email %>
                    <% end %>
                </li>
                <li><%= link_to  "Works", pictures_path %></li>
                <li><%= link_to  "About", about_path %></li>
                <li><%= link_to  "Contact", contact_path %></li>
                <li><%= link_to  "Instagram", "https://www.instagram.com/juliencomte/", target: "_blank" %></li>
            </ul>
        </div>
    <% else %>
        <div class="navbar-right">
            <ul>
                <li><%= link_to  "Works", pictures_path %></li>
                <li><%= link_to  "About", about_path %></li>
                <li><%= link_to  "Contact", contact_path %></li>
                <li><%= link_to  "Instagram", "https://www.instagram.com/juliencomte/", target: "_blank" %></li>
            </ul>
        </div>
    <% end %>
</div>