<div class="about-content">
    <div class="header text-center">
        <h1>
             Inked Magazines – 2016
        </h1>
        <h2>
             Julien Comte-Gaz
        </h2>
    </div>
    <div class="about-text">
        <p>
             Quand l’anthropologue américain Edward T.Hall fait état de la notion de proxémie dans son ouvrage intitulé « <em> La Dimension Cachée (1) </em>», il nous présente une étude sur la distance d’interaction d’échange entre les personnes. Cette distance variant
            de la sphère publique —supérieure à 3,6m quand on parle en public ou que l’on interpelle– à la sphère intime –inférieure
            à 45cm quand l’on chuchote ou que l’on embrasse quelqu’un–.
        </p>
        <p>
             La série Inked Magazines reprend cette notion de proxémie avec pour but d’offrir un double regard sur l’objet, ici une image
            de magazine de charme des années 70, tiré à des milliers d’exemplaires, cet objet commun devient alors unique. L’intervention
            sur l’image par le biais du dessin offre une transition de la sphère publique vers la sphère intime guidant le regard du
            spectateur de ce qui parait être un tache au premier abord vers ce qui est en réalité une composition concentrique à très
            petite échelle. Dans une société ou la rapidité est synonyme de gain, ce travail propose de perturber les codes mettant en
            avant une pratique où le geste répétitif, minutieux, à la lisière d’un comportement compulsif –à l’instar de Roman Opalka
            dont le but a été d’inscrire la trace d’un temps irréversible – permet de mieux cacher pour révéler.
        </p>
        <p>
             Les formes habillant ces corps dénudés sont constitués de milliers de cercles tracés à la main pour un rendu souvent interprété
            comme résultant d’une manipulation informatique bien que ces créations ne soient pas le résultat d’une quelconque machine.
        </p>
        <p>
             Quand Roland Barthes nous expose dans son ouvrage « <em>La Chambre Claire (2)</em>» l’idée du ‘punctum’ –mot latin désignant un petit
            trou, une piqûre, une déchirure – nous pouvons dès lors regarder l’imperfection de ce détail comme le fruit du hasard qui
            guide le regard du spectateur.
        </p>
        <p>
             Inspiré par des artistes tels que Felice Varini ou encore Georges Rousse dont la pratique consiste en partie à imposer un
            seul point de vue ramenant tous les éléments au premier plan par le principe d’anamorphose, la série des Inked Magazines
            avec ses formes quasi-tatoués sur ces corps proposent un point de vue autre au spectateur.
        </p>
        <p>
             Ce travail tente de mettre en péril l’automatisme selon lequel nous sommes conditionnés à passer à autre chose dès lors
            que l’œil n’a pas détecté ce ‘punctum’. Cette série propose un voyage entre les différentes sphères ou l’objet intime devient
            public ou la nudité devient tout à coup socialement plus acceptable.
        </p>
        <p>
            <em>
                 (1) Edward T. Hall, La Dimension cachée [« The Hidden Dimension »], Paris, Seuil, (1re éd. 1971 en français, 1966 en anglais)
                (2) Roland Barthes, La chambre claire : Note sur la photographie, Paris, Seuil, 1980
            </em>
        </p>
    </div>
    <div class="about-img">
        <%= image_tag  "about.jpg" %>
    </div>
</div>