<div class="contact-wrap">
    <div class="contact">
        <h1>
             Contact
        </h1>
        <p>
             Julien Comte-Gaz <br />
             né en 1987 à Adelaide, Australie <br />
            vit et travaille à Paris <br />
            contact : <%= mail_to "hello@juliencomtegaz.com", "hello@juliencomtegaz.com", class: "hover-underline-animation" %>
        </p>
        <%= render 'shared/instagram' %>
    </div>
</div>

