<% if user_signed_in? %>
    <div class="profile-content">
        <div class="settings">
            <ul>
                <li>
                    <%= link_to  "Déconnexion", destroy_user_session_path, method: :delete,class: "btn-sign-out" %>
                </li>
                <li>
                    <%= link_to  "Ajouter une nouvelle photo", new_picture_path, class: "btn-add-photo" %>

                </li>
            </ul>
        </div>
        <div class="gallery">
            <ul>
                <% @pictures.each do |picture| %>
                    <li>
                        <p><%= picture.name %></p>
                        <p><%= cl_image_tag picture.photo, height: 00, width: 200 %></p>
                        <p><%= link_to  "Show", picture_path(picture.id) %>
                        <%= link_to  "Edit", edit_picture_path(picture.id) %>
                        <%= link_to  "Delete", picture_path(picture.id), method: :delete, data: { confirm: "Veux-tu vraiment supprimer cette photo petit chenapan ?" } %></p>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% else %>
    <div class="alert-section text-center">
        <h1>Désolé, vous n'êtes pas autorisé à venir par ici.</h1>
        <h2><%= link_to  "Retour sur la page d'accueil", root_path %></h2>
    </div>
<% end %>