<div class="new-content">
  <div class="new">
    <%= simple_form_for(@picture) do |f| %>
      <%= f.input :name, label: "Nom de la photo" %>
      <%= f.input :description %>
      <%= f.input :format %>
      <%= f.input :author, label: "Artiste" %>
      <%= f.input :tag, as: :radio_buttons, collection: [['1', 'Back in the 1920\'s'], ['2', 'Inked Magazines'], ['3', 'Oculus'], ['4', 'Miscellaneous']], label_method: :second, value_method: :first %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, value: "Mettre à jour", class: "btn-primary submit update-btn" %>
    <% end %>
  </div>
</div>