
<div class="tabs-wrap">
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Back in the 1920's</li>
		<li class="tab-link" data-tab="tab-2">Inked Magazines</li>
		<li class="tab-link" data-tab="tab-3">Oculus</li>
		<li class="tab-link" data-tab="tab-4">Miscellaneous</li>
		<li class="tab-link" data-tab="tab-5">Pixel series</li>
	</ul>
    <div class="tabs-content">
        <div id="tab-1" class="tab-content current">
            <ul class="grid-container">
                <% @serie_01.each do |picture|%>
                    <li class="grid-container-list">
                        <%= link_to picture_path(picture.id) do %>
                            <%= cl_image_tag picture.photo %>
                            <!-- <p> <%= picture.name %> </p> -->
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div id="tab-2" class="tab-content">
            <ul class="grid-container">
                <% @serie_02.each do |picture|%>
                    <li class="grid-container-list">
                        <%= link_to picture_path(picture.id) do %>
                            <%= cl_image_tag picture.photo %>
                            <!-- <p> <%= picture.name %> </p> -->
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div id="tab-3" class="tab-content">
            <ul class="grid-container">
                <% @serie_03.each do |picture|%>
                    <li class="grid-container-list">
                        <%= link_to picture_path(picture.id) do %>
                            <%= cl_image_tag picture.photo %>
                            <!-- <p> <%= picture.name %> </p> -->
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div id="tab-4" class="tab-content">
            <ul class="grid-container">
                <% @serie_04.each do |picture|%>
                    <li class="grid-container-list">
                        <%= link_to picture_path(picture.id) do %>
                            <%= cl_image_tag picture.photo %>
                            <!-- <p> <%= picture.name %> </p> -->
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div id="tab-5" class="tab-content">
            <ul class="grid-container">
                <% @serie_05.each do |picture|%>
                    <li class="grid-container-list">
                        <%= link_to picture_path(picture.id) do %>
                            <%= cl_image_tag picture.photo %>
                            <!-- <p> <%= picture.name %> </p> -->
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
