<div class="show-content">
    <div class="back">
        <%= link_to  "Retour", pictures_path %>
    </div>
    <div class="img-show">
        <%= cl_image_tag @picture.photo, class: "img" %>
    </div>
    <div class="definition-show text-center">
        <h1><%= @picture.name %></h1>
        <p><%= @picture.description %></br>
            <%= @picture.format %></br>
            <%= @picture.author %></p>
        <% if user_signed_in? %>
            <p>
                <%= link_to  "Edit", edit_picture_path(@picture.id) %>
                    <%= link_to  "Delete", picture_path(@picture.id), method: :delete, data: { confirm: "Veux-tu vraiment supprimer cette photo petit chenapan ?" } %>
            </p>
        <% end %>
    </div>
    <div class="pagging">
        <div class="pagging-left">
            <% if @previous %> 
                <%= link_to picture_path(@previous.id) do %>
                    <p>
                        <i class="fas fa-angle-left"></i> <%= @previous.name %>
                    </p>
                <% end %>
            <% end %>
        </div>
        <div class="pagging-right">
            <% if @next %>
                <%= link_to picture_path(@next.id) do %>
                    <p>
                        <%= @next.name %> <i class="fas fa-angle-right"></i>
                    </p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>