footer {
    background: #F4F4F4;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
}

.author {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
    p {
        font-size: 12px;
        font-weight: lighter;
        opacity: 0.3;
    }
}