.grid-navbar {
    display: grid;
    grid-template-columns: auto 1fr 130px;
    grid-template-rows: 1fr;
    margin: 25px 30px 0px 30px;
}

.navbar-left {
    padding: 10px;
    h1 {
        font-size: 25px;
        font-weight: bolder;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.404);
    }
}

.navbar-right {
    grid-column: 3/4;
    li {
        display: inline;
        a {
            color: black;
            font-weight: bolder;
        }
        a:hover {
            color: rgba(0, 0, 0, 0.404);
        }
    }
}

@media (min-width: 600px) {
    .grid-navbar {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
    }

    .navbar-left {
        h1 {
            font-size: 30px;
            font-weight: bolder;
        }
    }
    .navbar-right {
        padding: 10px;
        li {
            padding: 30px;
        }
    }
}