// TABS
ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li {
    background: none;
    color: #AFAFAF;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s;
}
ul.tabs li:hover {
    color: #222;
}


ul.tabs li.current {
    color: #222;
    font-weight: bolder;
    transition: all 0.5s ease-out;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.tabs-wrap {
    display: grid;
    grid-template-rows: auto auto;
}

.tabs {
    border-radius: 4px;
}

// RESPONSIVE

@media (min-width: 800px) {
    .tabs-wrap {
        grid-template-columns: 300px 1fr;
        height: 76vh;
    }
    
    .tabs {
        grid-column: 1/2;
    }
    
    .tabs-content {
        grid-column: 2/3;
    }

}

@media (min-width: 1050px) {
    .tabs-wrap {
        padding: 100px;
    }
    ul.tabs {
        margin-right: 70px;
    }
}