a {
    text-decoration: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;

    a:hover {
        text-decoration: none;
    }
}

h1 {
    text-decoration: none;
}

li {
    a:hover {
        text-decoration: none;
    }
}


body {
    li {
     font-family: 'Roboto', sans-serif;   
    }
    p {
        font-family: 'Roboto', sans-serif;
    }
    h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
    }
}